.toolbars-wrap{
  position: fixed;
  top:0px;
  width: 100%;
  background-color: #FFF;
  box-shadow: 1px 1px 6px rgba(47, 55, 61, 0.95);
}
.toolbars{
  padding: 0 20px;
}
.toolbars-inner{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid;
  border-image: linear-gradient(#080808,grey) 30 30;
}
.toolbars-top-up{
  cursor: pointer;
  height: 20px;

}
.toolbars-top-up svg{
  height: 100%;
}
.toolbars-area{
  margin: 10px 15px;
  border-right: 1px solid #080808;
  padding-right: 15px;
  height: 60px;
  display: flex;
  align-items: center;
}
.btn{
  display: inline-block;
  padding: 10px;
  border: 1px solid #080808;
  border-radius: 5px;
  color: #080808;
  cursor: pointer;
  margin: auto 5px;
}
.btn:hover{
  transition: transform  .2s linear;
  transform: translateY(-10px);
}

.btn.active{
  background-color: #080808;
}
.btn.active .btn-img > svg{
  stroke: #fff;
  fill: #fff;
}
.btn-img > svg{
  stroke-width: 5;
  stroke: #080808;
  fill: #080808;
}
.toolbars-wrap.moveUp {
  animation:100ms  1 ease-in-out forwards moveUp;
}
.toolbars-wrap.moveUp svg{
  transform: rotateX(180deg);
}
.toolbars-wrap.moveDown {
  animation:100ms  1 ease-in-out forwards moveDown;
}
@keyframes moveUp {
  from{
    transform: translateY(0%);
  }
  to{
    transform: translateY(calc(-100% + 20px));
  }
}

@keyframes moveDown {
  from{
    transform: translateY(calc(-100% + 20px));
  }
  to{
    transform: translateY(0%);
  }
}
